body {
//	background-color: #F9F5E7;
	background-color: PapayaWhip;
}

#waist_display {
	position: absolute;
	margin-top:-10px;

	text-indent: 22px;	


}

#inseam_display {
	position: absolute;
	margin-top: 50px;
	text-indent: 55px;
}

#chest_display {
	position: absolute;
	margin-top: 50ps;
	text-indent: 100px;
}

#banner {
	text-align: center;
	font-family: "Verdana";
	font-size: 4vw;
	letter-spacing: -1px;
	line-height: 1;
	margin:0;
}

#edit_btn {
	text-align: center;
	
}

.graphics {
	z-index: -1;
}

.user_dims {
	color: red;
	z-index: 1;
	font-weight: bold;
	//border: 2px solid LightGray;
	//border-radius: 3px;
	//box-sizing: border-box;

}
