body {
//	background-color: #F9F5E7;
	background-color: PapayaWhip;
}

#waist_display {
	position: absolute;
	margin-top:-10px;
	text-indent: 290px;

}

#inseam_display {
	position: absolute;
	margin-top: 140px;
	text-indent: 348px;
}

#chest_display {
	position: absolute;
	margin-top: 0px;
	text-indent: -90px;
}

#banner {
	text-align: center;
	font-family: "Verdana";
	font-size: 4vw;
	letter-spacing: -1px;
	line-height: 1;
	margin:0;
}

#edit_btn {
	
}

#pants {
	float: right;
	padding-right: 50px;
}

#shirt {
	padding-left: 50px;

}

.graphics {
	z-index: -1;
}

.user_dims {
	color: red;
	z-index: 1;
	font-weight: bold;
	font-size: 14px;
	//border: 2px solid LightGray;
	//border-radius: 3px;
	//box-sizing: border-box;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

